# Dependencies

node_modules/
**/node_modules/

# Build output

dist/
build/
**/dist/
**/build/

# Environment variables and secrets

.env
.env.*
!.env.example

# Logs

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel

.vercel/

# Operating system files

.DS_Store
Thumbs.db
